@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Roboto');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive;*/

.row {
    margin: 0 auto;
}


/*++++++++++++++++++++++++
         SECTIONS
+++++++++++++++++++++++++*/

.section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.section--color-white {
    background-color: #ffffff;
}

.section--color-riptide {
    background-color: #96E2D4;
}

.section--color-white-smoke {
    background-color: #f8f8f8;
}

.section--bgimg-eagle {
    -webkit-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(234, 131, 132, 0.9) 0%, rgba(241, 217, 139, 0.9) 100%), url(../img/banner-eagle.png);
}

.section--bgimg-hills {
    background-image: linear-gradient(rgba(243, 243, 243, 0.8), rgba(243, 243, 243, 0.8)), url(../img/banner-hills.png);
}

.section--bgimg-clients {
    background-image: linear-gradient(rgba(243, 243, 243, 0.8), rgba(243, 243, 243, 0.8)), url(../img/banner-clients.png);
}

.section--bgimg-map {
    background-image: linear-gradient(rgba(243, 243, 243, 0.8), rgba(243, 243, 243, 0.8)), url(../img/banner-map.png);
}


/*++++++++++++++++++++++++
    END OF SECTIONS
+++++++++++++++++++++++++*/


/*++++++++++++++++++++++++
         TITLES
+++++++++++++++++++++++++*/

.title__top {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
}

.title__main {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.6%;
}

.title__line {
    max-width: 60px;
    margin: 0 auto;
    border-bottom: 3px solid rgb(234, 131, 132);
    margin-top: 1.5%;
}

.title__line--align-left {
    width: 60px;
    margin: 0;
}

.title__line--margined {
    margin: 20px 0;
}

.title__description {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
    text-transform: none;
}

.title__description--align-left {
    text-align: left;
    padding: 0;
}

.title__top--large {
    color: #ffffff;
    font-size: 3.5em;
    /*padding-top: 15vh;*/
}

.title__main--large {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0 auto;
}

.title__main--pink {
    color: #f38181;
    font-size: 1.125em;
    font-weight: 700;
}

.title__line--white {
    border-bottom: 3px solid #ffffff;
    padding-top: 5vh;
}

.title__description--bordered {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 700;
    width: 160px;
    height: 40px;
    margin-top: 5vh;
    padding-top: 7px;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    text-transform: uppercase;
}


/*++++++++++++++++++++++++
      END OF TITLES
+++++++++++++++++++++++++*/


/*++++++++++++++++++++++++
        GALLERIES
+++++++++++++++++++++++++*/

.gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 5% 15px;
}

.gallery--full-width {
    justify-content: center;
    max-width: 1920px;
    padding: 5% 0 0;
}

.gallery__item {
    width: 30%;
    height: 100%;
}

.gallery__item--main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-sizing: border-box;
}

.gallery__photo,
.gallery__photo--main {
    position: relative;
}

.gallery__trans {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #95e1d3;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .3s;
    transition-delay: .1s;
}

.gallery__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(234, 131, 132, 0.9) 0%, rgba(241, 217, 139, 0.9) 100%);
    z-index: -2;
}

.gallery__social {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform .3s;
    transition-delay: 0.12s;
}

.gallery__social--team {
    display: flex;
    flex-flow: row nowrap;
}

.gallery__img {
    max-width: 100%;
    transition: transform .3s;
}

.gallery__img--main {
    max-width: 100%;
}

.glyphicon-picture {
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}

.gallery__phrase {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

.gallery__subphrase {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 15px;
}

.gallery__item:hover .gallery__photo {
    transform: translate(-10px, -10px);
}

.gallery__item:hover .gallery__trans {
    transform: translate(10px, 10px);
}

.gallery__item:hover .gallery__front {
    z-index: 3;
}

.gallery__photo--main:hover .gallery__front {
    z-index: 3;
}

.gallery__item:hover .gallery__social {
    transform: scale(1);
}

.gallery__photo--main:hover .gallery__social {
    transform: scale(1);
}

.gallery__caption--text-centered {
    text-align: center;
}

.gallery__name {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.gallery__name--padding {
    padding-top: 15px;
    font-size: 0.8em;
}

.gallery__text {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 0.938em;
    font-weight: 400;
    line-height: 1.6;
    display: inline-block;
}

.gallery__text--italic {
    font-weight: 300;
    font-style: italic;
}

.gallery__calendar {
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    background-color: #95e1d3;
    z-index: 1;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.938em;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.gallery__calendar--bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 800;
    font-style: normal;
}

.gallery__caption {
    text-align: left;
}

.gallery__text--padding {
    padding-top: 10px;
    padding-bottom: 20px;
}

.gallery__comments {
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 0.938em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
    text-align: left;
}


/*gallery social icons sprite*/

.gallery__icon {
    display: inline-block;
    max-width: 100%;
    width: 55px;
    height: 55px;
    background-image: url(../img/gal-soc-sprite.png);
    background-repeat: no-repeat;
    font-size: 1em;
    border: 1px solid #f9bd87;
}

.gallery__icon--fb {
    background-position: -1px -1px;
}

.gallery__icon--fb:hover {
    background-position: -1px -57px;
}

.gallery__icon--tw {
    background-position: -57px -1px;
}

.gallery__icon--tw:hover {
    background-position: -57px -57px;
}

.gallery__icon--pint {
    background-position: -113px -1px;
}

.gallery__icon--pint:hover {
    background-position: -113px -57px;
}

.gallery__icon--insta {
    background-position: -169px -1px;
}

.gallery__icon--insta:hover {
    background-position: -169px -57px;
}


/*enf of gallery social icons sprite*/


/*++++++++++++++++++++++++
    END OF GALLERIES
+++++++++++++++++++++++++*/


/*HEADER*/

.header {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
}


/* .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translateX(-50%);
    transition: translateY(-50%);
} */

.header__logo {
    position: absolute;
    top: 30px;
    left: 15px;
}

.logo {
    text-align: left;
}

.logo__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875em;
    font-weight: 700;
}

.logo__link--color-white {
    color: #ffffff;
}

.logo__link:hover {
    color: #fce48b;
}

.nav {
    margin-left: 14%;
}

.nav__bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-top: 40px;
    list-style: none;
}

.nav__item {
    padding-left: 5.7%;
    text-align: right;
}

.link,
.link:hover,
.link:focus,
.link:active,
.logos__link,
.logos__link:hover,
.logos__link:focus,
.logos__link:active {
    text-decoration: none;
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    padding-bottom: 12px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.nav__link--color-white {
    color: #ffffff;
}

.nav__link--hover-yellow-underlined:hover {
    color: #fce48b;
    border-bottom: 2px solid #fce48b;
}

.form__input {
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav__button {
    border: 0;
    background-color: transparent;
}

.glyphicon-search:hover {
    color: #fce48b;
    border-bottom: 3px solid #fce48b;
}

.glyphicon-search {
    color: #ffffff;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}

.slider {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    /*left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
}

.slider__bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.slider__item {
    margin-left: 15px;
    margin-right: 15px;
    width: 20%;
    border-top: 3px solid #ffffff;
    padding: 20px 0;
}

.slider__text {
    font-size: 1em;
    font-weight: 900;
}

.slider__text--large {
    font-size: 1.5em;
    font-weight: 900;
}


/*FACTS*/

.facts {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.facts__item {
    width: 20%;
    padding: 5% 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    border-left: 1px solid #b5eae0;
    text-align: center;
}

.facts__item:last-child {
    border-right: 1px solid #b5eae0;
}

.facts__text {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.facts__text--large {
    font-size: 5em;
    font-weight: 900;
}


/*SERVICES ALL*/

.services {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 5% 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.services__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.services__list:first-child {
    padding-bottom: 4%;
    border-bottom: 1px solid #e5e5e5;
}

.services__list:last-child {
    padding-top: 4%;
}

.services__item {
    width: 30%;
    padding: 0 15px;
}

.services__img {
    position: absolute;
}

.services__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 55px;
}

.services__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
}

.services__description {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 0.975em;
    font-weight: 400;
}


/*FEATURES*/

.feature {
    padding: 2.2% 33.4% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.feature__img--large {
    position: relative;
}

.feature__ipad {
    max-width: 100%;
}

.feature__img--small {
    max-width: 58%;
    position: absolute;
    bottom: -16%;
    right: -25%;
    z-index: 1;
}

.feature__iphone {
    max-width: 100%;
}


/*SERVICE WITH PHOTO*/

.service {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 6% 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.service__photo {
    width: 50%;
    padding: 0 15px;
}

.service__img {
    max-width: 100%;
}

.service__description {
    width: 50%;
}

.service__item {
    max-width: 100%;
    position: relative;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    line-height: 4.8em;
}

.service__icon,
.service__title,
.glyphicon {
    display: inline-block;
}

.service__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 0 25px;
}

.service__text,
.panel-body {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 0.975em;
    font-weight: 400;
    color: #aaaaaa;
}

.panel-default>.panel-heading {
    background-color: #ffffff;
    border-radius: 0;
    border-color: #aaaaaa;
}

.glyphicon-menu-up {
    float: right;
    font-size: 1.5em;
    color: #aaaaaa;
}

.glyphicon-menu-down {
    float: right;
    font-size: 1.5em;
    color: #aaaaaa;
}

.panel-group {
    margin-bottom: 0;
}

.panel-body {
    max-height: 22vh;
    overflow-y: scroll;
    width: 100%;
}


/*QUOTES*/

.quotes {
    max-width: 1200px;
    width: 100%;
    height: 35%;
    margin: 0 auto;
}

.quotes__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.quotes__link--left {
    left: 25px;
}

.quotes__link--right {
    right: 25px;
}

.quotes__arrow--left {
    transform: rotate(90deg);
}

.quotes__arrow--right {
    transform: rotate(-90deg);
}

.quotes__item {
    padding: 6% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    width: auto;
    margin: 0 80px;
}

.quotes__photo {
    width: 54%;
}

.quotes__img {
    max-width: 100%;
}

.quotes__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 200;
    color: #999999;
    padding-left: 30px;
}

.quotes__caption {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.quotes__author {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 10px;
    text-align: left;
}


/*PARTNERS LOGOS*/

.logos {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 7% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logos__item {
    width: 10.7%;
    text-align: center;
}

.logos__link {
    color: #ffffff;
}

.logos__img {
    max-width: 100%;
}


/*CLIENTS QUOTES*/

.clients {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.clients__item {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 40px;
}

.clients__photo {
    width: 35%;
}

.clients__img {
    max-width: 100%;
}

.clients__quote {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
    width: 54%;
}


/*MAP*/

.map {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.9% 0;
}

.map__link {
    font-family: 'Montserrat', sans-serif;
    color: #f38181;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.map__link {
    color: #fce38a;
}


/*CONTACTS*/

.contact {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 3% 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.subscribe {
    width: 41%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-right: 15px;
}

.subscribe__title {
    font-family: 'Montserrat', sans-serif;
    color: #cccccc;
    font-size: 2.875em;
    font-weight: 700;
}

.subscribe__description {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 0.938em;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    padding-top: 1px;
}

.subscribe__facts {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 0.875em;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.subscribe__facts--bold {
    font-size: 1.125em;
    font-weight: 700;
}

.subscribe__socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}

.subscribe__message {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 0.938em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
    text-align: left;
}


/*social icons sprite*/

.subscribe__icon {
    display: inline-block;
    max-width: 100%;
    width: 16px;
    height: 16px;
    margin-left: 3%;
    background-image: url(../img/socialicon-sprite.png);
    background-repeat: no-repeat;
    font-size: 1.6em;
}

.subscribe__icon--fb {
    width: 8px;
    background-position: 0 0;
}

.subscribe__icon--fb:hover {
    background-position: 0 -18px;
}

.subscribe__icon--twitter {
    background-position: -11px 0;
}

.subscribe__icon--twitter:hover {
    background-position: -11px -18px;
}

.subscribe__icon--instagram {
    background-position: -29px 0;
}

.subscribe__icon--instagram:hover {
    background-position: -29px -18px;
}

.subscribe__icon--pinterest {
    background-position: -49px 0;
}

.subscribe__icon--pinterest:hover {
    background-position: -49px -18px;
}

.subscribe__icon--google {
    background-position: -66px 0;
}

.subscribe__icon--google:hover {
    background-position: -66px -18px;
}

.subscribe__icon--youtube {
    background-position: -84px 0;
}

.subscribe__icon--youtube:hover {
    background-position: -84px -18px;
}

.subscribe__icon--dribbble {
    background-position: -102px 0;
}

.subscribe__icon--dribbble:hover {
    background-position: -102px -18px;
}

.subscribe__icon--tumblr {
    background-position: -122px 0;
}

.subscribe__icon--tumblr:hover {
    background-position: -122px -18px;
}


/*end of social icons sprite*/

.subscribe__input,
.subscribe__submit {
    display: inline-block;
    float: left;
}

.subscribe__input {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 40px;
}

.subscribe__submit {
    padding: 0 8%;
    max-width: 45%;
    background-color: #95e1d3;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 0;
}

.blogs,
.instagram {
    width: 24%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 15px;
}

.blogs__title,
.instagram__title {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 0.875em;
    font-weight: 600;
    text-align: left;
    line-height: 1.4;
    text-transform: uppercase;
    padding-top: 17px;
    margin-bottom: 0;
}

.blogs__item {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 1px;
}

.blogs__photo {
    /* width: 42%; */
}

.blogs__image {
    max-width: 100%;
}

.blogs__description {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 15px;
}

.blogs__text {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    text-transform: uppercase;
}

.blogs__date {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 0.8em;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.instagram {
    padding-right: 0;
}

.instagram__gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.instagram__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.instagram__photo {
    /* width: 33%; */
    padding: 1px;
}

.instagram__img {
    max-width: 100%;
}

.instagram__link {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 0.813em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.846;
    text-align: left;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.copyrights {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 1em;
    font-weight: 900;
}

.copyrights__author {
    color: #f38181;
}


/* ******************************
        MEDIA QUERIES
****************************** */

@media (min-width: 1440px) {
    .title__top--large {
        font-size: 3.5em;
    }
    .title__main--large {
        font-size: 2.7em;
        padding-top: 0;
    }
}

@media (min-width: 1366px) and (max-width: 1439px) {
    .title__top--large {
        font-size: 3.5em;
    }
    .title__main--large {
        font-size: 2.5em;
        padding-top: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1365px) {
    .title__top--large {
        font-size: 3.5em;
    }
    .title__main--large {
        font-size: 2.5em;
        padding-top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .title__top--large {
        font-size: 3.4em;
    }
    .title__main--large {
        font-size: 2.3em;
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .title__top--large {
        font-size: 3em;
    }
    .title__main--large {
        font-size: 2.2em;
        padding-top: 0;
    }
    .title__description--bordered {}
    .quotes__phrase {
        font-size: 0.7em;
    }
    .quotes__author {
        font-size: 1em;
    }
    .subscribe__description {
        display: none;
    }
    .blogs__text {
        font-size: 0.6em;
    }
    .panel-body {
        max-height: 9vh;
    }
    .gallery__phrase {
        font-size: 0.8em;
        font-weight: 600;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 15vh;
    }
    .logo {
        top: 7%;
    }
    
    .title__top--large {
        font-size: 3em;
    }
    .title__main--large {
        font-size: 2.2em;
    }
    .slider__item {
        margin-left: 5px;
        margin-right: 5px;
    }
    .slider__text--large {
        font-size: 1em;
        font-weight: 900;
    }
    .slider__text {
        font-size: 0.8em;
    }
    .quotes__img {
        display: none;
    }
    .clients__quote {
        margin: 0;
        /* width: 100%; */
        text-align: center;
    }
    .gallery {
        flex-flow: column nowrap;
        -ms-align-items: center;
        align-items: center;
    }
    .gallery__item {
        width: 53%;
        padding: 15px 0;
    }
    .gallery__item--main {
        width: 100%;
    }
    .facts {
        display: none;
    }
    .services {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .services__list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 10px 15px;
    }
    .services__list:first-child {
        padding-bottom: 0;
        border: 0;
    }
    .services__list:last-child {
        padding-top: 0;
    }
    .services__item {
        width: 100%;
        padding: 10px 15px;
        align-items: center;
    }
    .services__description {
        display: none;
    }
    .services__title {
        font-size: 0.7em;
    }
    .service {
        flex-flow: column nowrap;
    }
    .service__photo {
        width: 100%;
        padding: 10px 0;
    }
    .service__description {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .title__description {
        font-size: 0.8em;
    }
    .quotes__phrase {
        font-size: 0.8em;
        max-height: 15vh;
        overflow-y: scroll;
    }
    .clients {
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .clients__item {
        width: 100%;
        padding: 15px;
    }
    .contact {
        flex-flow: column nowrap;
    }
    .subscribe,
    .blogs,
    .instagram {
        width: 100%;
        padding: 15px;
    }
    .blogs,
    .instagram {
        border-top: 1px solid #e5e5e5;
    }
    .instagram__title,
    .instagram__message,
    .blogs__title {
        text-align: center;
        font-size: 1.2em;
        padding: 5px;
    }
    .blogs__item {
        padding-top: 15px;
    }
}

@media (max-width: 480px) {
    .title__top--large {
        font-size: 2.7em;
    }
    .title__main--large {
        font-size: 2em;
    }
    .slider__text--large {
        font-size: 0.8em;
        font-weight: 900;
    }
    .slider__text {
        font-size: 0.6em;
    }
    .quotes__phrase {
        font-size: 0.6em;
        max-height: 15vh;
        overflow-y: scroll;
    }
    .quotes__text {
        padding: 0;
    }
    .quotes__author,
    .gallery__name {
        font-size: 0.8em;
    }
    .clients__quote {
        margin: 0;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
    .clients__photo {
        display: none;
    }
}


/* ADAPTIVE MENU*/

.burger {
    display: none;
    position: relative;
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    background-color: rgba(234, 131, 132, 0.7);
    box-shadow: 0 0 8px 10px rgba(241, 217, 139, 0.9);
    transform: translateX(-50%);
    cursor: pointer;
}

.burger__line {
    position: absolute;
    left: 15%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.burger__line--top {
    top: 8px;
    transition: 1s;
}

.burger__line--middle {
    top: 18px;
    transition: 1s;
}

.burger__line--bottom {
    top: 28px;
    transition: 1s;
}

.burger.active .burger__line--top {
    top: 20px;
    transform: rotate(45deg);
}

.burger.active .burger__line--middle {
    top: 15px;
    opacity: 0;
}

.burger.active .burger__line--bottom {
    top: 20px;
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    .burger {
        display: block;
        position: fixed;
        top: 5%;
        left: 92%;
        z-index: 7;
    }
    .nav__bar {
        display: none;
    }
    .nav__bar.shown {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0 auto;
        z-index: 5;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        background: linear-gradient(to bottom, rgba(234, 131, 132, 0.95) 0%, rgba(241, 217, 139, 0.95) 100%);
        width: 100%;
        height: 100vh;
    }
    .nav__item {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    

    .nav__link {
        font-size: 1.6em;
    }

    .nav__link--hover-yellow-underlined:hover {
        border-bottom: 0;
    }

    .nav__form {
        border: 0;
    }
}

@media (max-width: 480px) {
    .nav__link:hover,
    .nav__button:hover {
        border-bottom: 0;
    }
}

/* END of ADAPTIVE MENU*/


/* HOVER.CSS EFFECTS*/

/* Pulse */

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Pulse END */


/* HOVER.CSS EFFECTS END*/